*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-primary);
    color: var(--text-normal)
}

a {
    color: var(--text-accent);
    text-decoration: none;
}

h1 {
    color: var(--text-title-h1)
}

h2 {
    color: var(--text-title-h2)
}

h3 {
    color: var(--text-title-h3)
}

h4 {
    color: var(--text-title-h4)
}

h5 {
    color: var(--text-title-h5)
}